@use '../../config/_config' as *;
@use '../../partial/_banner' as *;
@use 'sass:map';

.form-group label {
    font-size: 16px !important;
}

.bootstrap-tagsinput {
    display: flex;
    cursor: default;
    background-color: transparent;
    border: none;
    box-shadow: none;

    & input {
        display: none;
    }
}

.section-blog {
    &__label {
        display: flex;
        padding: 10px !important;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        background-color: map.get($color, "primary");

        & i {
            cursor: pointer;
        }
    }

    &__btn-sidebar {
        background-color: map.get($color, "primary");
    }
}