@use '../../config/_config' as *;
@use '../../partial/_partial-config' as *;
@use 'sass:map';

.section-author {
    margin-top: 54px;
    padding: 10px 50px;
    
    &__profile-container {
        @include spaceImage($maxWidth: 133px, $imgWidth: 1, $imgHeight: 1);
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    &__profile-img {
        @include imgToFillSpace();
        object-fit: cover;
    }
}