@use '../../config/_config' as *;

.section-most-viewed, .section-popular-author {
    &__title {
        display: inline-block;
        margin-bottom: 40px;
        padding: 0 30px;
        color: black;
        border-bottom: 2px solid black;
    }
}